body {
    position: relative;
    overflow-x: hidden;
    background-color: #ffffff;
} 

.login--container{
    width: min(1440px,100%);
    /* height: min(900px, 50vh); */
    left: 0;
    top: 0;
    display: flex;
    /* background-color: pink; */
    padding:6em 6em 8em 5em; 
}

.login--leftside{
    width:min(720px, 50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.login--logo{
    justify-self: flex-start;
}